<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trading</title>
    <!--Adding in a style sheet for the html file--> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h2>Stock Strategy Tester</h2>
    
    <form class="data-entry" action="/result" method="post">
        <label id="stock_name_lable" for="stock_name">Stock Name (orcl, nvda, yhoo currently simulated):</label><br>
        <input type="text" id="stock_name" name="stock_name"><br>
        <label id="investment_lable" for="investment">Number of shares to buy:</label><br>
        <input type="number" id="investment" name="investment"><br>
        <label id="start_lable" for="start_date">Simulation start date (1999 to 2014):</label><br>
        <input type="number" id="start_date" name="start_date"><br>
        <label id="confirm_lable" for="confirm_liability">This is purely for simulation purposes only. You are responsible for any real money you may trade. Confirm by typing 'yes'.</label><br>  
        <input type="text" id="confirm_liability" name="confirm_liability"><br>
        <input type="submit" class="file_submit">
      </form>  

      <div>
        {% if earned %}
        <h2 style="color: blue;">You could have made ${{earned}}</h2>
        {% endif %}
      </div>

    </body>
</html>